# Created by .ignore support plugin (hsz.mobi)
.iml
*.iml
.class
.idea/
.idea_modules/
demo/SparkDemo/target/
demo/src/
project/project/
project/target/
projectFilesBackup*/
target/
metastore_db/
.DS_Store
*.obj
*.log
*.csv
*.log.*
logs/
log/
.checkpoint-*
checkpoint*
receivedBlockMetadata/

sh.exe.stackdump
resources/*.csv
temp/
resources/test/
demo/ScalaDemo/.DS_Store
dependency-reduced-pom.xml
