# Created by .ignore support plugin (hsz.mobi)
.iml
.class
.idea/
.idea_modules/
demo/SparkDemo/target/
demo/src/
project/project/
project/target/
projectFilesBackup*/
target/
metastore_db/

*.log
*.csv
.checkpoint-*
checkpoint*
receivedBlockMetadata/
sh.exe.stackdump
resources/*.csv
temp/
resources/test/
demo/ScalaDemo/.DS_Store
