[project]
	description = Based on sbt_build Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wallace Huang (BiyuHuang)
[access "refs/for/refs/*"]
	read = group user/Wallace Huang (BiyuHuang)
	push = group user/Wallace Huang (BiyuHuang)
	label-Code-Review = -2..+2 group user/Wallace Huang (BiyuHuang)
	label-Verified = -1..+1 group user/Wallace Huang (BiyuHuang)
	rebase = group user/Wallace Huang (BiyuHuang)
	removeReviewer = group user/Wallace Huang (BiyuHuang)
	submit = group user/Wallace Huang (BiyuHuang)
[access "refs/heads/*"]
	read = group user/Wallace Huang (BiyuHuang)
	create = group user/Wallace Huang (BiyuHuang)
	push = +force group user/Wallace Huang (BiyuHuang)
	pushMerge = group user/Wallace Huang (BiyuHuang)
[access "refs/tags/*"]
	push = group user/Wallace Huang (BiyuHuang)
	push = +force group user/Wallace Huang (BiyuHuang)
